<div class="navbar scrollbar-on fixed-on">
	<div class="ctrls-wrap">
		<div class="burgerbox">
			@@include('burgerbox_2.html')
			
		</div><!-- / .burgerbox -->
	</div>
	<!-- / .ctrls-wrap -->

	<div class="nav-wrap">
		<div class="nav__header">
			<div class="logo">
				<a href="./">
					<img src="@img/logo.svg" alt="Логотип" />
				</a>
			</div>
		</div>
		<!-- / .nav__header -->
		<nav class="nav__body">
			<ul class="menu">
				<li>
					<a class="menu__link iconed--home" href="#">
						<span>Главная</span>
					</a>
				</li>
				<li>
					<a class="menu__link iconed--shopcart" href="#">
						<span>Мои магазины</span>
					</a>
				</li>
				<li>
					<a class="menu__link iconed--megaphone" href="#">
						<span>Промоматериалы</span>
					</a>
				</li>
				<li>
					<a class="menu__link iconed--piechart" href="#">
						<span>Статистика</span>
					</a>
				</li>
				<li>
					<a class="menu__link iconed--wallet" href="#">
						<span>Баланс</span>
					</a>
				</li>
				<li>
					<a class="menu__link iconed--profile" href="#">
						<span>Персональные данные</span>
					</a>
				</li>
				<li>
					<a class="menu__link iconed--info" href="#">
						<span>FAQ</span>
					</a>
				</li>
				<li>
					<a class="menu__link iconed--support" href="#">
						<span>Техподдержка</span>
					</a>
				</li>
				<li>
					<a class="menu__link iconed--logout" href="#">
						<span>Выход</span>
					</a>
				</li>
				<li>
					@@include('colorschemebar.html')
				</li>
			</ul>
		</nav>
		<!-- / .nav__body -->
	</div>
	<!-- / .nav-wrap -->
</div>
<!-- / .navbar -->